!!! 5
html
	include mrx/includes/head
	body
		include mrx/includes/nav-loggedin
		.row
			.large-6.columns
				h1.subheader Welcome Dr. #{phys.last_name}!
			.large-6.columns
				h1.subheader.text-right #{phys.physician.physician_hospital}
			hr
		.row
			.large-9.push-3.columns
				.row
					.large-12.columns
						h1 Patient Roster
						if roster
							each p in roster
								.large-4.columns
									//- .row
									ul.pricing-table
										li.title #{p.patient.patient_user.first_name} #{p.patient.patient_user.last_name}
										li.price Tel: #{p.patient.patient_phone}
										if rx_array
											each r in rx_array
												if p.patient.patient_user.username == r.patient.patient_user.username
													li.bullet-item #{r.drug.drug_name}
										li.cta-button
											a.button(href="#", data-reveal-id="patient-#{p.patient.patient_phone}") Prescribe medication

			.large-3.pull-9.columns
				h1 Add patient
					p #{error_message}
				form(action="addToRoster/", method="post"){% csrf_token %}
					.row.collapse
						.small-10.columns
							input(type="text", name="tel", placeholder="Patient's Telephone No.")
						.small-2.columns
							input.button.success.prefix(value="Add", type="submit", style="padding-top:.1em; padding-bottom:.1em;")
			
	include mrx/includes/founScript.jade

	#logModal.reveal-modal.medium
		h2 Are you sure you want to sign out?
		hr
		.row
			.small-4.large-2.columns
				a.button.success(href="logout/") Yes
			.small-4.large-6.columns
				a.button.alert(href= " ") No
		a.close-reveal-modal &#215;
	if roster
		each p in roster
			.reveal-modal.large(id="patient-#{p.patient.patient_phone}")
				h2 What would you like to prescribe to #{p.patient.patient_user.first_name} #{p.patient.patient_user.last_name}?
				hr
				form(action="addRx/", method="post"){% csrf_token %}
					input(type="text", name="NDC", placeholder="National Drug Code")
					//- input(type="text", name="quantity", placeholder="Quantity")
					textarea(name="instructions", placeholder="Instructions For Patient", style="margin-bottom:1em")
					//- input(type="text", name="drug_name", placeholder="Proprietary Drug Name")
					//- input(type="text", name="drug_dosage", placeholder="Dosage")
					input(type="password", name="password", placeholder="Password")
					input(type='hidden', name="tel", value="#{p.patient.patient_phone}")
					input.small.button(type="submit", value="Prescribe")
				a.close-reveal-modal1.close-reveal-modal &#215;